<!--<hr/>-->
<label for="exchange"><p>EXCHANGE</p></label>
<form class=exchange id="exchange" #f="ngForm">
  <select class="form-control-sm" name="selectedBase" ngModel="AUD" #fromCurrency>
    <option *ngFor="let o of options">
      {{o}}
    </option>
  </select>
  <select class="form-control-sm" name="selectedResult" ngModel="AUD" #toCurrency>
    <option *ngFor="let o of options">
      {{o}}
    </option>
  </select>
</form>
<hr/>
<label for="timeline"><p>TIMELINE</p></label>
<div class="timeline" id="timeline">
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="FROM"
             name="dp" [ngModel]="model" ngbDatepicker #a="ngbDatepicker" #fromDate>
      <div class="input-group-append">
        <button class="btn btn-primary calendar" (click)="a.toggle()" type="button"></button>
      </div>
    </div>
  </div>
</form>

<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="TO"
             name="dp" [ngModel]="model" ngbDatepicker #b="ngbDatepicker" #toDate>
      <div class="input-group-append">
        <button class="btn btn-primary calendar" (click)="b.toggle()" type="button"></button>
      </div>
    </div>
  </div>
</form>
</div>
<hr/>

<button class="btn-primary" (click)="onAddTimeline(fromCurrency, toCurrency, fromDate, toDate)">DRAW CHART</button>

<hr/>

<div id="chart-background">
<ngx-charts-line-chart *ngIf="multi"
  [view]="view"
  [scheme]="colorScheme"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="multi">
</ngx-charts-line-chart>
</div>

<!--<p>-->
<!--  {{multi}}-->
<!--</p>-->
