ngx-charts-line-chart {
  border: solid black;
}

.timeline {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.exchange {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  border: solid black;
  border-radius: 10px;
  outline:none;
}

#chart-background {
  background-color: #80e4ff;
  border: solid black;
}

p {
  color: #ffe600;
  border-radius: 0.3em;
  background-color: rgb(0, 0, 0);
  margin: auto;
  margin-bottom: 3px;
  width: fit-content;
}

button:hover{

  border: solid black;
  border-radius: 10px;
  animation-name: buttonGrow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes buttonGrow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}
