<h1>WELCOME TO THE WEBSITE</h1>
<h2>YOU CAN CHOOSE ONE OF THE OPTIONS FROM THE NAVIGATION BAR:</h2>

<!--<div class="container">-->
<div class="row">
  <div class="col-sm">
    <h3>TO VIEW A SPECIFIED EXCHANGE RATE WITH A BACKGROUND PICTURE CHOOSE <strong>SLIDES</strong></h3>
  </div>
  <div class="col-sm">
    <h3>TO VIEW A SPECIFIED EXCHANGE RATE WITH A BACKGROUND PICTURE CHOOSE <strong>SLIDES</strong></h3>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h3>TO VIEW A SPECIFIED EXCHANGE RATE WITH A BACKGROUND PICTURE CHOOSE <strong>SLIDES</strong></h3>
  </div>
  <div class="col-sm">
    <h3>TO VIEW HISTORICAL LINE CHART OF A SPECIFIED EXCHANGE RATE AND TIMELINE CHOOSE
      <strong>LINE-CHART</strong></h3></div>
</div>
<div class="row">
  <div class="col-sm">
    <h3>TO VIEW HISTORICAL LINE CHART OF A SPECIFIED EXCHANGE RATE AND TIMELINE CHOOSE
      <strong>LINE-CHART</strong></h3></div>
  <div class="col-sm">
    <h3>TO VIEW HISTORICAL LINE CHART OF A SPECIFIED EXCHANGE RATE AND TIMELINE CHOOSE
      <strong>LINE-CHART</strong></h3></div>
</div>
<!--  </div>-->
