h1,h2,h3, p {
  color: #ffe600;
  margin: auto;
  width: fit-content;
  margin-bottom: 50px;
  border-radius: 0.3em;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 15px #6300ff, 0 0 9px #0000FF;
}

p {
  font-size: 1.5em;
}

p:hover {
  animation-name: textGrow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes textGrow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
