h1,h2,h3, p {
  color: #0022ff;
  margin: auto;
  width: fit-content;
  margin-bottom: 50px;
  border-radius: 0.3em;
  /*background-color: rgb(0, 0, 0);*/
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

.container {
  margin-top: 10px;
}

p {
  font-size: 1.5em;
}

p:hover {
  animation-name: textGrow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes textGrow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
