<div class="container">
<h1>WELCOME TO MR. EXCHANGE!</h1>
<h2>YOU CAN CHOOSE ONE OF THE OPTIONS FROM THE NAVIGATION BAR:</h2>
<div class="column">
  <div class="col-sm">
    <p>TO CALCULATE A SPECIFIED EXCHANGE RATE CHOOSE <strong>CONVERTER</strong></p>
  </div>
  <div class="col-sm">
    <p>TO VIEW/ADD A SPECIFIED EXCHANGE RATE WITH A BACKGROUND PICTURE CHOOSE <strong>SLIDES</strong></p>
  </div>
  <div class="col-sm">
    <p>TO VIEW A SPECIFIED HISTORICAL TIMELINE OF A CHOSEN EXCHANGE RATE CHOOSE <strong>LINE-CHART</strong></p>
  </div>
</div>
</div>
