.container {
  text-align: center;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}

#rout {
  /*margin-left: 500px;*/
  margin-top: 75px;
  position: fixed;
}

nav {
  margin-bottom: 0;
  font-weight: bold;
  font-family: "Copperplate Gothic Bold";
}

a {
  color: white;
}
