<ngb-carousel>
  <ng-template ngbSlide *ngFor="let currency of this.currencies">
    <div class="picsum-img-wrapper">
      <img [src]="currency.img" alt="SOME SLIDE">
    </div>
    <div class="carousel-caption">
      <h3>{{currency.base}} TO {{currency.result}}</h3>
      <div *ngIf="currency">
        <p>{{currency.amount | async}}</p>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
<app-input-forms
  (currencyCreated)="onCurrencyAdded($event)"
  (currencyRemoved)="onCurrencyRemoved($event)">
</app-input-forms>

