ngb-carousel {
  outline:none;
}

img {
  max-width: 90%;
  /*max-height: 90%;*/
  box-shadow: 0 0 10px 10px rgb(0, 0, 0);
  /*margin-bottom: 20px;*/
  margin-top: 20px;
}

h1,h3, p {
  color: #ffe600;
  border-radius: 0.3em;
  background-color: rgb(0, 0, 0);
  margin: auto;
  margin-bottom: 3px;
  width: fit-content;
}
