#imgInput {
  width: 80%;
}

button {
  margin-top: 15px;
  /*border: solid black;*/
  border-radius: 10px;
  outline: none;
  text-align: center;
}

button:hover{

  /*border: solid black;*/
  border-radius: 10px;
  animation-name: buttonGrow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes buttonGrow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

app-currencies {
  margin-bottom: 10px;
}

select, input {
  outline: none;
}
